
<div th:fragment="footer" class="text-center text-lg-start bg-body-tertiary text-muted bg-secondary" style="background-color: #000000">
  <!-- Section: Links  -->
  <section class="pt-4" style="color: #000000">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>TL Store
          </h6>
          <p>
            Cung cấp các sản phẩm sách, tập vở, dụng cụ học tập chất lượng. Đem đến cho bạn những sản phẩm tốt nhất.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Danh mục sản phẩm
          </h6>
          <p>
            <a th:href="@{/sach}" class="text-reset">Sách</a>
          </p>
          <p>
            <a th:href="@{/tapvo}" class="text-reset">Tập vở</a>
          </p>
          <p>
            <a th:href="@{/dungcuhoctap}" class="text-reset">Dụng cụ học tập</a>
          </p>
          <p>
            <a th:href="@{/quatang}" class="text-reset">Quà tặng</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Thông tin
          </h6>
          <p>
            <a href="#!" class="text-reset">Thông tin bảo hành</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Chính sách sản phẩm</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Trợ giúp</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Câu hỏi thường gặp</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
          <p><i class="fa fa-globe" aria-hidden="true"></i> 12 Nguyễn Văn Bảo, Gò Vấp, TP.HCM</p>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
             tranloc120603@gmail.com
          </p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> +84355887042</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> +84355887042</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0,0,0,0.05); color: #000000">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">TLStore.com</a>
  </div>
</div>